*{margin:0;padding:0;}
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
html,body {
    font: 100px 'Microsoft YaHei';
    width:100%;
    height:100%;
}
em, i {
    font-style: normal;
}
ul,li{
    list-style-type: none;
}
strong {
    font-weight: normal;
}
a {
    text-decoration: none;
    color: #969696;
    font-family: 'Microsoft YaHei';
}
a:hover {
    text-decoration: none;
}