<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huamai.dao.BannerDao">

	<!-- 插入 -->
	<insert id="insertBanner" parameterType="java.util.Map">
		insert into tb_banner
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="banner_image != null and banner_image !=''">banner_image,</if>
			<if test="banner_mp4 != null and banner_mp4 !=''">banner_image,</if>
			<if test="banner_name != null and banner_name !=''">banner_name,</if>
			<if test="banner_sort != null and banner_sort !=''"> banner_sort,</if>
			<if test="banner_status != null and banner_status !=''">banner_status,</if>
			<if test="createtime != null and createtime !=''">createtime,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="banner_image != null and banner_image !=''">#{banner_image},</if>
			<if test="banner_mp4 != null and banner_mp4 !=''">#{banner_mp4},</if>
			<if test="banner_name != null and banner_name !=''">#{banner_name},</if>
			<if test="banner_sort != null and banner_sort !=''">#{banner_sort},</if>
			<if test="banner_status != null and banner_status !=''">#{banner_status},</if>
			<if test="createtime != null and createtime !=''">#{createtime},</if>
		</trim>
	</insert>
	<!-- 修改 -->
	<update id="updateBanner" parameterType="java.util.Map">
		update tb_banner
		<trim prefix="SET" suffixOverrides=",">
			<if test="banner_image != null and banner_image !=''">banner_image= #{banner_image},</if>
			<if test="banner_mp4 != null and banner_mp4 !=''">banner_image= #{banner_mp4},</if>
			<if test="banner_name != null and banner_name !=''">banner_name= #{banner_name},</if>
			<if test="banner_sort != null and banner_sort !=''">banner_sort= #{banner_sort},</if>
			<if test="banner_status != null and banner_status !=''">banner_status= #{banner_status},</if>
		</trim>
		where banner_id = #{banner_id}
	</update>

	<select id="getBannerList" parameterType="java.util.Map"
		resultType="com.huamai.entity.Banner">
		select
		banner_id,banner_image,banner_name,banner_sort,banner_status,createtime
		from tb_banner where 1=1
		<if test="createtime != null and createtime !=''">and createtime like concat(#{createtime},'%')</if>
		<if test="banner_name != null and banner_name !=''">and banner_name like concat(concat('%',#{banner_name}),'%')</if>
		<if test="banner_id != null and banner_id !=''">and banner_id = #{banner_id}</if>
	</select>

	<select id="getBanner" parameterType="java.util.Map"
		resultType="com.huamai.entity.Banner">
		select
		banner_id,banner_image,banner_name,banner_sort,banner_status,createtime
		from tb_banner where 1=1 and banner_status=1
		<if test="banner_id != null and banner_id !=''">and banner_id = #{banner_id}</if> 
		order by banner_sort ASC 
	</select>
	<delete id="deleteBannerById" parameterType="java.util.Map">
		delete from tb_banner where banner_id = #{banner_id}
	</delete>
	<select id="selectById" resultType="com.huamai.entity.Banner"
		parameterType="java.lang.Integer">
		select * from tb_banner
		where banner_id = #{banner_id,jdbcType=INTEGER}
	</select>
</mapper>